.services {
  text-align: center;
  
}
.row {
  box-sizing: border-box;
  width: 80%;
  padding-left: 300px;
  line-height: 25px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
  font-size: 16px;  
 color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}